<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repo.MemberRepository">
    <select id="getUserList" resultType="Member">
        SELECT * FROM login;
    </select>

    <select id="totalAccount" resultType="integer">
        SELECT COUNT(*) FROM login;
    </select>

    <select id="loginCheck" resultType="integer">
        SELECT  COUNT(*) FROM login
        WHERE   userid = #{userid}
        AND     userpwd = #{userpwd};
    </select>
</mapper>